<html>
<head>
  <title>Testing!</title>
</head>
<body>
  <h1>ANSIBLE! {{ ansible_all_ipv4_addresses }}</h1>
  <span>We can make use of ansible facts when using the template module. <time>{{ ansible_date_time.date }}</date></span>
</body>
</html>
